body {
	background: url(images/3.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.head {
	align-content: center;
	text-align: center;
	height: 260px;
}

.photo {
	margin: 60px 430px 0px;
	text-align: center;
	border-radius: 360px;
	height: 80px;
	width: 80px;
}

#name {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times,
		"Times New Roman", "serif";
	font-size: 18px;
	color: hsla(0, 0%, 0%, 1.00);
	font-weight: 400;
}

#menu1 {
	text-align: center;
	align-content: center;
	margin: 10px 350px;
	border-bottom: 1px solid #DDD;
	position: relative;
	background: -webkit-linear-gradient(top, #F8F8F8 0.00%, #EFEFEF 32.86%, #D7D7D7
		68.93%, #CFCFCF 100.00%);
	background: linear-gradient(top, #F8F8F8 0.00%, #EFEFEF 32.86%, #D7D7D7 68.93%,
		#CFCFCF 100.00%);
	height: 60px;
	width: 850px;
	list-style: none;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 2px 1px 0 #BEBEBE, 0 4px 1px -1px #B8B8B8, 0 6px 1px -2px
		#B3B3B3, 0 8px 1px -3px #ADADAD, 0 10px 1px -4px #AAAAAA, 0 12px 1px
		-5px #A7A7A7, 0 14px 1px -6px #9C9C9C, 0 16px 1px -7px #939393, 0 18px
		1px -8px #8B8B8B, 0 20px 1px -9px #666666, 0 6px 1px
		rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px
		rgba(0, 0, 0, 0.3), 0 20px 4px -6px rgba(0, 0, 0, 0.9), 0 45px 5px
		-5px rgba(0, 0, 0, 0.05), 0 35px 10px -5px rgba(0, 0, 0, 0.1), 0 25px
		55px 5px rgba(0, 0, 0, 0.15);
	z-index: 0;
}

#menu1:before {
	content: "";
}

#menu1:after {
	content: "";
}

#menu1 li {
	background: transparent;
	padding: 0px;
	width: 250px;
	height: 70px;
	margin: 0px;
	overflow: hidden;
	line-height: 30px !important;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

#menu1 li:hover,#menu1 li.active {
	background: -webkit-linear-gradient(top, #ff0364 0.00%, #FAEBD7 32.86%, #ff0364
		68.93%, #C0C0C0 100.00%);
	background: linear-gradient(top, #ff0364 0.00%, #ED7F44 32.86%, #CC7244 68.93%,
		#BE6E48 100.00%);
	z-index: 2;
	width: 220px;
	align-content: center;
	top: -8px;
	border-radius: 10px 10px 0 0;
	border-top: 1px solid #ff0364;
	border-left: none;
	border-right: none;
	text-align: center;
	box-shadow: 0 2px 1px 0 #963004, 0 4px 1px -1px #852A03, 0 6px 1px -2px
		#812802, 0 8px 1px -3px #7D2803, 0 10px 1px -4px #661F01, 0 12px 1px
		-5px #521A02, 0 14px 1px -6px #401601, 0 16px 1px -7px #3C1501, 0 18px
		1px -8px #2D1001, 0 20px 1px -9px #110500, 0 6px 1px
		rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 10px 20px
		rgba(0, 0, 0, 0.75), 0 20px 4px -6px rgba(0, 0, 0, 0.9), 0 45px 5px
		-5px rgba(0, 0, 0, 0.05), 0 35px 10px -5px rgba(0, 0, 0, 0.1), 0 25px
		55px 5px rgba(0, 0, 0, 0.15);
	z-index: 0;
	-webkit-transition: background border-radius 0.75s ease-in;
	transition: background border-radius 0.75s ease-in;
	-webkit-transition: box-shadow 0.5s ease-in;
	transition: box-shadow 0.5s ease-in;
}

#menu li.active {
	background-color: #DADADA
}

.item:hover {
	position: relative;
	display: inline-block;
	text-align: center;
}
/* item */
.item {
	font-size: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
}

.item:hover:before,.active.item:before {
	content: "";
	background: -webkit-linear-gradient(top, rgba(247, 144, 88, 0.05) 60.00%,
		rgba(147, 50, 14, 0.5) 100.00%);
	background: linear-gradient(top, rgba(247, 144, 88, 0.05) 60.00%,
		rgba(147, 50, 14, 0.5) 100.00%);
	display: block;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	position: absolute;
	top: -130px;
	left: -120px;
	z-index: -1;
}
/* item separateur */
.item:after {
	content: "";
	padding: 0px;
	width: 0px;
	height: 12px;
	top: 20px;
	text-align: center;
	display: block;
	position: absolute;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	z-index: 2;
}

.item:hover:after,.item.active:after {
	content: "";
	display: none;
}
/* lien */
.item a {
	text-align: center;
	color: hsla(0, 0%, 0%, 1.00);
	font-weight: 300;
	font-size: 70%;
	text-decoration: none;
	text-shadow: 0px 1px 0px white;
}

.item:hover a,.item.active a {
	text-align: center;
	align-content: center;
	color: #FFF;
	z-index: 10;
	font-weight: lighter;
	text-shadow: 0px 1px 0px black;
	width: 80px;
	display: block;
}

a,a:hover {
	color: black;
	text-decoration: underlink;
	align-content: center;
}

.main {
	margin: 30px 350px;
	width: 880px;
	background: hsla(300, 90%, 76%, 0.3);
	border-radius: 20px;
}

.photo1 {
	border-radius: 360px;
	height: 80px;
	width: 80px;
	float: left;
	margin-left: 20px;
}

.mes {
	width: 120x;
	height: 80px;
	float: left;
	margin:10px 50px;
}
.btn {
  display: inline-block;
  width:80px;
		float: right;
  padding: .6em 1.1em;
  font-size: 18px;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fe4365;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 -2px #cff09e, 0 0 0 -1px #fe4365;
  box-shadow: 0 0 0 -2px #cff09e, 0 0 0 -1px #fe4365;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
}
	.btn:hover, .btn:focus {
  -webkit-box-shadow: 0 0 0 2px #cff09e, 0 0 0 4px #ff0364;
  box-shadow: 0 0 0 2px #cff09e, 0 0 0 4px #ff0364;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}
	.btn:active {
  background: #4ecdc4;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  -webkit-box-shadow: 0 0 0 2px #cff09e, 0 0 0 4px #3ac7bd;
  box-shadow: 0 0 0 2px #cff09e, 0 0 0 4px #3ac7bd;
}
	@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
	}
		.connect {
	float:right;
	margin:10px 20px;
	width:80px;
	height:25px;
  display: inline-block;
  padding: .6em 1.1em;
  font-size: 18px;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fe4365;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 -2px #cff09e, 0 0 0 -1px #fe4365;
  box-shadow: 0 0 0 -2px #cff09e, 0 0 0 -1px #fe4365;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
}
	.connect:hover, .connect:focus {
  -webkit-box-shadow: 0 0 0 2px #cff09e, 0 0 0 4px #ff0364;
  box-shadow: 0 0 0 2px #cff09e, 0 0 0 4px #ff0364;
  -webkit-transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
  animation: gelatine 0.5s 1;
}
	.connect:active {
  background: #4ecdc4;
  -webkit-transition-duration: 0;
  transition-duration: 0;
  -webkit-box-shadow: 0 0 0 2px #cff09e, 0 0 0 4px #3ac7bd;
  box-shadow: 0 0 0 2px #cff09e, 0 0 0 4px #3ac7bd;
}
	@keyframes gelatine {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
	}